vim/bundle/*
vim/plugged/*
!vim/bundle/Vundle.vim
Slack
dconf
evolution
gnome-*
monitors*
nautilus
pulse
ibus
user-dirs*
gtk-*
goa-*
configstore
libreoffice
weechat/logs/*
weechat/weechat.log
weechat/sec.conf
eog
google-chrome
menus
enchant
gedit
kazam
totem
